body {
    margin: 0;
    background-color: #2e2e31;
    color: whitesmoke;
    font-family: "Comic Sans MS";
}

td {
    padding: 0 1em;
    text-align: center;
}

th {
    color: greenyellow;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#table_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    flex-grow: 1;
    width: 100%;
}

#meta_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    text-align: center;
}

#forum_container {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
